*{
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: sans-serif, Arial, Helvetica;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}
.julius-sans-one-regular{
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.icon-big{
  font-size: 2.3rem;
}
:root{
  --white: #F5F6F1;
  --black: rgba(15, 14, 14);
  --font-titles: "Julius Sans One";
  --font-readable-text: Helvetica, sans-serif, Arial, Helvetica;
  --font-size-tablet-titles: 2.5rem;
  --font-size-tablet-readable: 1.6rem;
  --font-size-desktop-titles: 3rem;
  --font-size-desktop-readable: 1.9rem;
}
/* ----- Everything Below is Desktop Version -----*/
/* ----- Header -----*/
.header_container{
  font-family: var(--font-readable-text);
  width: 100%;
  height: 80px;
  position: fixed;
  color: var(--white);
  z-index: 1000;
  padding: 25px 11% 0 11%;
  font-size: 1.4rem;
}
.header_container nav ul{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  gap: 25px;
}
.header_container nav ul li a{
  color: var(--white);
}
.header_container::before{
  border-bottom: 2px solid var(--white);
  content: "";
  width: 82%;
  position: absolute;
  top: 100%;
  left: 9%;
}
.logo_container{
  position: absolute;
  top: 35%;
}
/* ----- Main Page -----*/
.main-img_wrapper{
  width: 100%;
  height: 2000px;
  overflow: hidden;
  position: relative;
}
.main-img_container{
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.0),
  rgba(0, 0, 0, 0.9)),url("../images/main.jpg");
  width: 100%;
  height: 3000px;
  background-size: contain;
  position: absolute;
  left: -100px;
  top: -50px;
  width: calc(100% + 100px);
}
/* ----- Main Page First Impression -----*/
.span-message{
  display: inline;
  white-space: nowrap;
  font-family: var(--font-titles);
}







@media (min-width:834px){
  h1,h2,h3,h4,h5,h6{
    color: var(--white);
    font-size: var(--font-size-tablet-titles);
    font-family: var(--font-titles);
  }
  p{
    color: var(--white);
    font-size: var(--font-size-tablet-readable);
    font-family: var(--font-readable-text);
  }
  .main-img_container,.first-img:hover,.project_text,.project-name,.project_text-progress,.project-links,.about_text,.contact_text,.contact_header,.footer-data,.footer-aspects, .about-me_container, .inner-frame_img, .inner-frame_img:hover, .main_header, .main-img_text-active, .about_header, .project_img:hover{
    transition: 1s ease-out;
  }
  /* ----- Main Page Pictures -----*/
  .frame_img{
    background-image: url("../images/frame.png");
    width: 700px;
    height: 500px;
    z-index: 3;
    position: absolute;
    object-fit: contain;
    top: 160px;
    left: 15%;
  }
  .frame_img-active{
    background-image: none;
    background-color: black;
  }
  .inner-frame_img{
    background-image:  
        radial-gradient(circle at center, rgba(0,0,0,0.55 ) 0%,rgba(0,0,0,0.2 ) 88%, rgba(0,0,0,1) 100%),
        linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 20%,rgba(0,0,0,0) 80%, rgba(0,0,0,1) 100%),
        linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 20%,rgba(0,0,0,0) 85%, rgba(0,0,0,1) 100%),
        url("../images/nike.jpg");
    background-position: 60%;
    position: absolute;
    left: 80px;
    z-index: 4;
    top: 95px;
    width: 450px;
    height: 320px;
    transform: rotate(3deg);
    cursor: help;
  }
  .inner-frame_img:hover{
    opacity: 0.8;
  }
  .inner-frame_img-active{
    width: 640px;
    height: 360px;
    transform: rotate(0deg);
    top: 60px;
    left: -10px;
  }
  .inner-frame_img-active:hover{
    cursor: pointer;
    opacity: 1;
  }
  /* ----- Main Page Header -----*/
  .main_header{
    z-index: 3;
    font-size: 2.5rem;
    width: 300px;
    position: absolute;
    top: 10%;
    right: 11%;
  }
  .main-header-active{
    display: none;
  }
  /* ----- Main Page Invisible Text After Click -----*/
  .left-main-img_text, .right-main-img_text{
    position: absolute;
    z-index: 2;
    border-radius: 10px;
    opacity: 0;
  }
  .hidden-text_container{
    opacity: 0;
  }
  .main-img_text-active{
    opacity: 1;
  }
  .left-main-img_text{
    background-image:
    linear-gradient(to right, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 25%,rgba(0,0,0,0) 40%, rgba(0,0,0,0) 100%),
    linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 35%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.3) 80%, rgba(0,0,0,0.5) 100%);
    padding: 25px 10px 40px 25px;
    width: 270px;
    top: 16%;
    left: 6%;
  }
  .right-main-img_text{
    background-image:
    linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.0) 25%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0.5) 80%, rgba(0,0,0,0.7) 100%),
    linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.25) 25%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0) 80%, rgba(0,0,0,0) 100%);
    padding: 50px 25px;
    width: 350px;
    top: 6%;
    left: 57%;
  }


   /* ----- Carousel  -----*/

  .carousel_header{
    display: none;
  }
  .carousel_img{
    z-index: 5;
    margin-left: 30px;
    margin-top: 30px;
    background-size: contain;
    position: absolute;
  }
  .first-img{
    background-image: 
    radial-gradient(circle at center, rgba(0,0,0,0.3 ) 0%,rgba(0,0,0,0.4 ) 88%, rgba(0,0,0,0.3) 100%),
    linear-gradient(to right, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 20%,rgba(0,0,0,0) 80%, rgba(0,0,0,0.8) 100%),
    linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 20%,rgba(0,0,0,0) 85%, rgba(0,0,0,0.8) 100%),
    url("../images/calc.jpg");
  }
  .first-img:hover{
    opacity: 0.8;
  }
  .second-img{
    
  }
  .third-img{
    
  }
















   /* ----- About me  -----*/
   .about-me_container{
    position: absolute;
    background-image: 
    linear-gradient(to bottom, rgba(15, 14, 14, 0) 0%,rgba(15, 14, 14, 0.3) 20%, rgba(15, 14, 14, 0.8) 40%, rgba(15, 14, 14, 1) 50%,rgba(15, 14, 14, 1) 60%, rgba(15, 14, 14, 1) 70%, rgba(15, 14, 14, 1) 100%);
    z-index: 4;
    width: 100%;
    height: 1400px;
    top: 87%;
  }
   .about-text_container{
    position: relative;
    width: 100%;
    height: fit-content;
    margin-top: 550px;
    padding: 0 11%;
   }
  .about_header{
    padding: 0 0 50px 0;
  }
  .about-text-header{
    font-family: var(--font-titles);
    padding: 40px 0 30px 0;
  }
  .facts{
    margin-top: 10px;
  }
  /* ----- Works Section  -----*/
  .projects_container{
    background-color: var(--black);
    width: 100%;
    height: 2600px;
    padding: 11%;
  }
  .project_container > *{
    display: flex;
    flex-direction: row;
  }
  .project-name{
    border-bottom: 1px solid var(--white);
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
  }
  .project-links_container{
    padding: 0px 10px 35px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
  .project-links{
    padding: 10px;
    border-bottom: 1px solid var(--white);
    color: var(--white);
    display: flex;
    font-family: var(--font-titles);
    font-size: var(--font-size-tablet-readable);
    gap: 15px;
  }
  .project-links:hover{
    border-bottom: 2px solid var(--white);
  }
  .project_text-progress{
    font-family: var(--font-titles);
    margin: -50px 0 0px 0 ;
  }
  .project_text{
    margin: 25px 0 50px 0;
  }
  .project_container{
    width: 100%;
  }
  .project-frame{
    margin: 50px 0 ;
    background-image:  
    linear-gradient(to right, rgba(15, 14, 14,0.6) 0%, rgba(15, 14, 14,0) 20%,rgba(15, 14, 14,0) 80%, rgba(15, 14, 14,0.6) 100%),
    linear-gradient(to bottom, rgba(15, 14, 14,0.6) 0%, rgba(15, 14, 14,0) 20%,rgba(15, 14, 14,0) 85%, rgba(15, 14, 14,0.6) 100%),
    url("../images/frame-project.jpg");
    background-size: contain;
    width: 400px;
    height: 300px;
    position: relative;
    transition: 0.6s ease-out;
  }
  .project_img{
    position: absolute;
    background-size: contain;
    background-position: 50% 50%; 
    width: 325px;
    height: 200px;
    top: 38px;
    left: 40px;
    transition: 0.8s ease-out;
  }
  .project_img:hover{
    opacity: 0.8;
  }
  .rainy-days{
    background-image: 
    linear-gradient(to right, rgba(15, 14, 14,0.6) 0%, rgba(15, 14, 14,0) 20%,rgba(15, 14, 14,0) 80%, rgba(15, 14, 14,0.6) 100%),
    linear-gradient(to bottom, rgba(15, 14, 14,0.6) 0%, rgba(15, 14, 14,0) 20%,rgba(15, 14, 14,0) 85%, rgba(15, 14, 14,0.6) 100%),
    url("../images/rainy-days.jpg");
  }
  .science-museum{
    background-image: 
    linear-gradient(to right, rgba(15, 14, 14,0.6) 0%, rgba(15, 14, 14,0) 20%,rgba(15, 14, 14,0) 80%, rgba(15, 14, 14,0.6) 100%),
    linear-gradient(to bottom, rgba(15, 14, 14,0.6) 0%, rgba(15, 14, 14,0) 20%,rgba(15, 14, 14,0) 85%, rgba(15, 14, 14,0.6) 100%),
    url("../images/science-museum.jpg");
  }
  .traveler-blog{
    background-image: 
    linear-gradient(to right, rgba(15, 14, 14,0.6) 0%, rgba(15, 14, 14,0) 20%,rgba(15, 14, 14,0) 80%, rgba(15, 14, 14,0.6) 100%),
    linear-gradient(to bottom, rgba(15, 14, 14,0.6) 0%, rgba(15, 14, 14,0) 20%,rgba(15, 14, 14,0) 85%, rgba(15, 14, 14,0.6) 100%),
    url("../images/traveller-blog.jpg");
  }
  /* ----- Footer  -----*/
  .contact_container{
    padding: 11%;
    width: 100%;
    height: 650px;
    margin-top: -50px;
    background-color: var(--black);
    position: relative;
  }
  .contact_header{
    padding-bottom: 50px;
  }
  .contact_text{
    padding-bottom: 35px;
  }
  footer nav{
    margin-top: 90px;
    color: var(--white);
  }
  footer nav ul{
    display: flex;
    justify-content: space-between;
  }
  .footer-aspects{
    font-size: var(--font-size-tablet-titles);
    font-family: var(--font-titles);
  }
  footer nav ul li i{
    font-size: 1.5rem;
    padding-right: 5px;
  }
  .footer-data{
    font-family: var(--font-readable-text);
    font-size: var(--font-size-tablet-readable);
    margin: 20px 0;
  }
}







@media (min-width:1200px){
  h1,h2,h3,h4,h5,h6{
    font-size: var(--font-size-desktop-titles);
  }
  p{
    font-size: var(--font-size-desktop-readable);
  }
  .main-img_container,.project_img,.project_text,.project-name,.project_text-progress,.project-links,.about_text, .contact_text,.contact_header,.footer-data,.footer-aspects, .main_header, .about_header, .about-me_container{
    transition: 0.7s ease-in;
  }
  /* ----- Main Page Pictures -----*/
  .main-img_container{
    top: -50px;
  }
  .frame_img{
    /* box-shadow: 0 0 0 90px black; */
    width: 800px;
    height: 600px;
    background-color: black;
  }
  /* ----- Main Page Invisible Text After Click -----*/
  .left-main-img_text{
    background-image: none;
    padding: 25px 10px 40px 25px;
    width: 450px;
    top: 9%;
    left: 55%;
  }
  .right-main-img_text{
    background-image: none;
    padding: 50px 25px;
    width: 450px;
    top: 15%;
    left: 55%;
  }
  /* ----- Main Page Header -----*/
  .main_header{
    font-size: 3rem;
    top: 12%;
    right: 11%;
  }
  /* ----- Carousel -----*/
  .carousel_header{
    display: block;
    position: absolute;
    z-index: 4;
  }
   /* ----- About me  -----*/
  .about-me_container{
    background-image: 
    linear-gradient(to bottom, rgba(15, 14, 14, 0) 0%,rgba(15, 14, 14, 0.1) 20%, rgba(15, 14, 14, 0.6) 40%, rgba(15, 14, 14, 0.8) 50%,rgba(15, 14, 14, 1) 60%, rgba(15, 14, 14, 1) 70%, rgba(15, 14, 14, 1) 100%);  
    top: 130%;    
  }
  .about_header{
    top: 50%;
    left: 11%;
  }
  /* ----- Works Section  -----*/
  .projects_container{
    height: 3450px;
    padding-top: 500px;
  }
  .project-links_container{
    padding: 0px 10px 0px 35px;
    gap: 60px;
  }
  .project-links{
    font-size: var(--font-size-desktop-readable);
  }
  .project_text-progress{
    margin: -10px 0 0px 0 ;
  }
  .project_text{
    margin: 35px 0 50px 0;
  }
  .project-frame{
    transition: 0.8s ease-in;
    margin: 80px 0;
    width: 600px;
    height: 350px;
  }
  .project_img{
    width: 440px;
    height: 280px;
    top: 37px;
    left: 45px;
  }
  /* ----- Footer  -----*/
  .contact_container{
     height: 700px;
  }
  .contact_text{
    margin-top: 35px;
  }
  .footer-aspects{
    font-size: var(--font-size-desktop-titles);
  }
  footer nav ul li i{
    font-size: 2.2rem;
    padding-right: 5px;
  }
  .footer-data{
    font-size: var(--font-size-desktop-readable);
    margin: 20px 0;
  }
}