*{
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: sans-serif, Arial, Helvetica,;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

:root{
  --white: #F5F6F1;
  --error:;
}



/* ----- Error Message -----*/
.displayError{
  width: 100%;
  height: 300px;
  border: 2px solid red;
}